<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "in.wogoa.app"
        version   = "1.0.0">
  <name>WO`GOA</name>
  <description>WO`GOA - something is always brewing.</description>
  <author href="http://wogoa.in" email="info@wogoa.in">WO`GOA Team</author>
  
    
    <preference name="phonegap-version" value="3.7.0" />
    
     <!-- Core plugins -->
  <gap:plugin name="org.apache.cordova.console" version="0.2.11" />
  <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
  <gap:plugin name="org.apache.cordova.inappbrowser"  version="0.2.3" />
  <!--<gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
  <gap:plugin name="org.apache.cordova.device-orientation" version="0.3.9" />-->
  <!--<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
<gap:plugin name="org.apache.cordova.globalization" version="0.3.1" />-->
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
  <!--<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />-->
  <!--<gap:plugin name="com.simplec.plugins.localnotification" />
<gap:plugin name="com.phonegap.plugins.childbrowser"  version="5.0.0" />-->
  
  <!-- Third party plugins -->
  <!-- A list of available plugins are available at https://build.phonegap.com/plugins -->
  <!--<gap:plugin name="com.ohh2ahh.plugins.appavailability" version="0.3.1" />-->
  <gap:splash src="splash.png" />
    
	
    <access origin="*" />
 <!--<content src="http://test.wogoa.in" />-->
</widget>
